@model LoginUserViewModel

@{
    ViewData["Title"] = "Login";
}

<form method="post" asp-controller="Account" asp-action="Login">
    <div class="my-2">
        <label class="form-label" for="email" asp-for="@Model.Email"></label>
        <input type="email" class="form-control" id="email" asp-for="@Model.Email" />
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
    </div>

    <div class="my-2">
        <label class="form-label" for="password" asp-for="@Model.Password"></label>
        <input type="password" class="form-control" id="password" asp-for="@Model.Password" />
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>